body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
    color: #333;
}
#classes-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.class-box {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    width: 200px;
}
.student {
    margin: 5px 0;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 3px;
    cursor: grab;
}
.button-container {
    display: flex; /* Flexbox 레이아웃 활성화 */
    justify-content: center; /* 버튼을 가로 중앙 정렬 */
    gap: 10px; /* 버튼 간격 조정 */
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.class-summary {
    background-color: #f9f9f9;
    padding: 10px;
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
}
.class-summary p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}
.class-summary p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.class-summary p[style*="red"] {
    font-weight: bold;
}

.class-summary p[style*="blue"] {
    font-weight: bold;
}


.male {
    background-color: #add8e6; /* 하늘색 */
}

.female {
    background-color: #ffb6c1; /* 분홍색 */
}

.origin-class-1 {
    background-color: #ffe4e1; /* 연한 핑크 */
}

.origin-class-2 {
    background-color: #e6e6fa; /* 라벤더 */
}

.origin-class-3 {
    background-color: #fafad2; /* 연한 노랑 */
}

.origin-class-4 {
    background-color: #F5F5F5; /* white smoke */
}

.origin-class-5 {
    background-color: #6AE8E8; /* 빛 청록 */
}

.origin-class-6 {
    background-color: #E8B56A; /* 빛 주황색 */
}


.class-info {
    font-size: 0.9em;
    margin-top: 5px;
}

.origin-class, .current-class {
    padding: 3px 6px;
    border-radius: 4px;
    color: black;
    font-weight: bold;
}
