<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Class Assignment</title>
</head>
<body>
    <h1>Class Assignment</h1>
    <div id="controls" class="button-container">
        <button id="gender-color-button">성별 색상 적용</button>
        <button id="origin-class-color-button">출신 반 색상 적용</button>
        <button id="reset-color-button">색상 리셋</button>
    </div>

    <div id="classes-container"></div>
    
    <button id="save-button">Save Changes</button>

    <button id="save-excel-button">Save to Excel</button>
    <script src="/static/script.js"></script>
</body>
</html>
